<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Home | Computer Parts for Newbies</title>
  </head>
  <body>

    <hr>

<!--*************************************************************************-->
    <!-- Introduction -->
      <div class="textBox"
      style="float: left; left: 175px; padding: 100px 20px 10px 0px;">
        <h3>Planning to buy or</h3>
        <h3>build your own</h3>
        <h3>computer parts?</h3>
        <br>
        <p>No fear.</p>
        <p>We got your backs covered!</p>
        <p>All the information you need</p>
        <p>is already in our website.</p>
        <p>😊</p>
        </p>
      </div>
      <div>
        <img src="Images/Corsair_RGB_case.png" alt="An RGB case."
        style="display:block; float:right; position:relative;
        margin: 20px auto; right: 158px;">
      </div>
<!--*************************************************************************-->

      <footer>
        <h3>Contact Us</h3>
        <p>Address: UIA Gombak, 51300, Selangor <br>
          Telephone: 012-3456789
          Email: support@website.com.my
        </p>
      </footer>

  </body>
</html>
